/practicaTPrimitivosFlotantes/nbproject/private/
/practicaTPrimitivosFlotantes/build/
/practivatipoVar&Primitivos/nbproject/private/
/practivatipoVar&Primitivos/build/
/practicaTiposPrimitivosChar/nbproject/private/
/practicaTiposPrimitivosChar/build/
/practivaBoolean/nbproject/private/
/practivaBoolean/build/
/practicaBoolean/nbproject/private/
/practicaBoolean/build/
/practicaConversiondeTipos/nbproject/private/
/practicaConversiondeTipos/build/
