# Ignorar archivos generados por el IDE de NetBeans
/operadorTernario/nbproject/private/
/operadorTernario/nbproject/build/
/operadorTernario/nbproject/properties/

/operadores_de_Asignacion/nbproject/private/
/operadores_de_Asignacion/nbproject/build/
/operadores_de_Asignacion/nbproject/properties/


/precedenciaDeOperadores/nbproject/private/
/precedenciaDeOperadores/nbproject/build/
/precedenciaDeOperadores/nbproject/properties/

/operadores_Condicionales/nbproject/private/
/operadores_Condicionales/nbproject/build/
/operadores_Condicionales/nbproject/properties/

/Igualdad&Relacionales/nbproject/private/
/Igualdad&Relacionales/nbproject/build/
/Igualdad&Relacionales/nbproject/properties/

/precedenciaOperadores/nbproject/private/
/precedenciaOperadores/nbproject/build/
/precedenciaOperadores/nbproject/properties/

/precedenciaOperadores/nbproject/private/
/precedenciaOperadores/nbproject/build/
/precedenciaOperadores/nbproject/properties/

/precedenciaOperadores/private/
/precedenciaOperadores/build/
/precedenciaOperadores/properties/

/tiposPrimitivos/nbproject/private/
/tiposPrimitivos/nbproject/build/
/tiposPrimitivos/nbproject/properties/


# Ignorar archivos de configuración específicos del usuario de NetBeans
/operadorTernario/nbproject/private/
/precedenciaDeOperadores/nbproject/private/
/operadores_Condicionales/nbproject/private/
/Igualdad&Relacionales/nbproject/private/
/precedenciaOperadores/nbproject/private/
/precedenciaDeOperadores/nbproject/private/
/precedenciaOperadores/nbproject/private/
/precedenciaOperadores/private/
/tiposPrimitivos/nbproject/private/
# Ignorar archivos compilados y generados
/build/
/operadorTernario/build/
/precedenciaDeOperadores/build/
/operadores_Condicionales/build/
/Igualdad&Relacionales/build/
/precedenciaOperadores/build/
/precedenciaDeOperadores/build/
/precedenciaOperadores/nbproject/build/
/precedenciaOperadores/build/
/tiposPrimitivos/nbproject/build/
/dist/
/operadorTernario
/precedenciaDeOperadores/dist/
/operadores_Condicionales/dist/
/Igualdad&Relacionales/dist/
/precedenciaOperadores/dist/
/precedenciaDeOperadores/dist/
/precedenciaOperadores/nbproject/dist/
/precedenciaOperadores/dist/
/tiposPrimitivos/nbproject/dist/

/target/
/operadorTernario/target/
/precedenciaDeOperadores/target/
/operadores_Condicionales/target/
/Igualdad&Relacionales/target/
/precedenciaOperadores/target/
/precedenciaDeOperadores/target/
/precedenciaOperadores/nbproject/target/
/precedenciaOperadores/target/
/tiposPrimitivos/nbproject/dist/
/target/
# Ignorar archivos de dependencias de Maven
*.jar
*.war
*.ear


